vendor/
node_modules/
.git/
.env
.env.backup
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build/
public/hot
.phpunit.cache
.phpunit.result.cache
*.log
